<button class="cdek_pvz_map_btn" id="cdek_official_office_button_138">Выбрать ПВЗ</button>
<script type="text/javascript">
    $('body').on('click', 'button', function (event) {
        console.log(event)
        if (event.target.id === 'cdek_official_office_button_{{ tariff }}') {
            console.log(event.target.id)
            {##cdek_official_office_button_{{ tariff }}#}
            if (window.cdekWidget === undefined) {
                window.cdekWidget = new window.CDEKWidget({
                                                              apiKey: '{{ apikey }}',
                                                              defaultLocation: '{{ city }}',
                                                              popup: true,
                                                              canChoose: true,
                                                              hideDeliveryOptions: {
                                                                  office: false,
                                                                  door: true,
                                                              },
                                                              goods: {
                                                                  width: {{ width }},
                                                                  length: {{ length }},
                                                                  height: {{ height }},
                                                                  weight: {{ weight }},
                                                              },
                                                              servicePath: '/index.php?route=extension/shipping/cdek_official',
                                                              onChoose: function (type, tariff, address) {
                                                                  $('input[name=cdek_official_pvz_code]').val(address.code);
                                                                  $('input[name=cdek_official_pvz_code_address]').val(`[${address.code}] ${address.address}`);
                                                                  $('.cdek_official_pvz_code_address').html(`[${address.code}] ${address.address}`).show();
                                                              }
                                                          });
            } else {
                window.cdekWidget.updateLocation('{{ city }}');
            }
            window.cdekWidget.open()
        }

    });
</script>
